::before,
::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$fontColorDark: rgb(58, 57, 57);
$fontColorWarning: rgb(158, 15, 15);

body {
    background-image: linear-gradient(rgb(190, 188, 207), rgb(114, 142, 202));
    height: 100vh;
    font-family: 'Grape Nuts', cursive;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    h1 {
        font-size: 60px;
        color: $fontColorDark;
    }

    h3 {
        font-size: 40px;
        color: $fontColorWarning;
    }
}

.warningNote {
    visibility: hidden;
}

.inputForm {


    input {
        padding: 0.5rem;
        width: 320px;
        outline: none;
        background: inherit;
        border: solid 2px $fontColorDark;
        border-radius: 5px;
    }

    button {
        padding: 0.5rem;
        width: 70px;
        background: inherit;
        border: solid 2px $fontColorDark;
        border-radius: 5px;
    }
}

.notesContainer {
    margin-top: 50px;

    li {
        font-size: 25px;
        list-style: none;
        border-bottom: solid 1px $fontColorDark;
        width: 400px;
        margin-bottom: 2rem;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

.lineThroughToggle {
    text-decoration: line-through;
}